Repository tcpipuk/go-llama.cpp: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, goimports, go-mod-tidy, golangci-lint, go-test

.pre-commit-config.yaml:

# Pre-commit configuration for llama-go
# Runs quality checks before commits

default_install_hook_types:
  - pre-commit
  - commit-msg
default_stages:
  - pre-commit
  - manual

repos:
  # File integrity and format checks - run first for efficiency
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
      - id: destroyed-symlinks
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace

  # Markdown linting
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.1
    hooks:
      - id: markdownlint-cli2
        args: ["--fix"]

  # Go language checks
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt
        entry: gofmt -l -d .
        language: system
        types: [go]
        pass_filenames: false

      - id: goimports
        name: goimports
        entry: sh -c 'go install golang.org/x/tools/cmd/goimports@latest && $(go env GOPATH)/bin/goimports -l -d .'
        language: system
        types: [go]
        pass_filenames: false

      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        files: go\.mod$
        pass_filenames: false

      - id: golangci-lint
        name: golangci-lint
        entry: sh -c 'docker run --rm -v $(pwd):/workspace -w /workspace golang:1.25.1-trixie bash -c "LIBRARY_PATH=/workspace C_INCLUDE_PATH=/workspace go install github.com/golangci/golangci-lint/cmd/golangci-lint@latest && \$(go env GOPATH)/bin/golangci-lint run"'
        language: system
        types: [go]
        pass_filenames: false

      - id: go-test
        name: go test
        entry: sh -c 'docker run --rm --gpus all -v $(pwd):/workspace -w /workspace git.tomfos.tr/tom/llama-go:build-cuda bash -c "LIBRARY_PATH=/workspace C_INCLUDE_PATH=/workspace LD_LIBRARY_PATH=/workspace go run github.com/onsi/ginkgo/v2/ginkgo --label-filter=\"!gpu\" -v ./..."'
        language: system
        types: [go]
        pass_filenames: false

  # Conventional commit message format enforcement - run last
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.2.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: ["--strict", "--force-scope", "--verbose"]

fix(bindings): add thread safety and improve resource cleanup
  .forgejo/workflows/ci.yml
  model.go
  wrapper.cpp
Due: gofmt, goimports, golangci-lint, go-test

feat(bindings): add dynamic context pool for concurrent inference
  model.go
  wrapper.cpp
Due: gofmt, goimports, golangci-lint, go-test

feat(bindings): implement KV cache prefix reuse with GPU optimisations
  examples/embedding/main.go
  examples/simple/main.go
  examples/speculative/main.go
  examples/streaming/main.go
  model.go
  wrapper.cpp
  wrapper.h
Due: gofmt, goimports, golangci-lint, go-test

feat(bindings): default to model native context size
  RELEASE.md
  docs/api-guide.md
  model.go
  wrapper.cpp
  wrapper.h
Due: gofmt, goimports, golangci-lint, go-test

refactor(bindings): reorganise model.go into focused files with comprehensive godocs
  context_pool.go
  doc.go
  generate.go
  generate_internal.go
  generate_tokens.go
  model.go
  options_generate.go
  options_model.go
  util.go
Due: gofmt, goimports, golangci-lint, go-test

docs(examples): add comprehensive package documentation to all examples
  examples/embedding/main.go
  examples/simple/main.go
  examples/speculative/main.go
  examples/streaming/main.go
Due: gofmt, goimports, golangci-lint, go-test

feat(bindings): expand GPU acceleration backend support to 8 platforms
  docs/building.md
  llama_cublas.go
  llama_hipblas.go
  llama_metal.go
  llama_openblas.go
  llama_opencl.go
  llama_rpc.go
  llama_sycl.go
  llama_vulkan.go
Due: gofmt, goimports, golangci-lint, go-test

test(bindings): add comprehensive Ginkgo test suite with 387 test cases
  embeddings_test.go
  error_handling_test.go
  generation_test.go
  gpu_layers_test.go
  model_loading_test.go
  prefix_caching_test.go
  speculative_test.go
  streaming_test.go
  thread_config_test.go
  thread_safety_test.go
  tokenisation_test.go
Due: gofmt, goimports, golangci-lint, go-test

docs(readme): refactor with user-centric structure and benefits focus
  README.md
Due: none

docs(readme): streamline documentation references and remove redundancy
  README.md
Due: none

feat(deps): update llama.cpp to b6709 with compatibility fixes
  tokenisation_test.go
  wrapper.cpp
Due: gofmt, goimports, golangci-lint, go-test

test(gpu): set explicit 2048 context size for memory efficiency
  embeddings_test.go
  error_handling_test.go
  generation_test.go
  gpu_layers_test.go
  model_loading_test.go
  thread_config_test.go
  thread_safety_test.go
  tokenisation_test.go
Due: gofmt, goimports, golangci-lint, go-test

docs(release): improve troubleshooting and commit guidance
  RELEASE.md
Due: none

feat(ci): improve cache reliability and add batch size safeguard
  .forgejo/workflows/ci.yml
  model.go
Due: gofmt, goimports, golangci-lint, go-test

fix(batching): add prompt chunking for batch size limits
  generation_test.go
  model.go
  wrapper.cpp
Due: gofmt, goimports, golangci-lint, go-test

feat(logging): add LLAMA_LOG environment variable for log control
  .forgejo/workflows/ci.yml
  model.go
  wrapper.cpp
  wrapper.h
Due: gofmt, goimports, golangci-lint, go-test

fix(embeddings): add batch chunking for large inputs
  wrapper.cpp
Due: none

fix(tests): fix flaky tests and update error expectations
  error_handling_test.go
  generation_test.go
  prefix_caching_test.go
  speculative_test.go
  streaming_test.go
Due: gofmt, goimports, golangci-lint, go-test

fix(tests): skip concurrent failure test causing heap corruption
  thread_safety_test.go
Due: gofmt, goimports, golangci-lint, go-test

fix(tests): improve stop word test reliability with deterministic prompts
  generation_test.go
Due: gofmt, goimports, golangci-lint, go-test

chore(ci): update default Go version to 1.25.2
  .forgejo/workflows/build-cuda-image.yml
Due: none

feat(deps): update llama.cpp to b6713 with test improvements
  generation_test.go
Due: gofmt, goimports, golangci-lint, go-test

docs(release): use build-cuda container and update build timeout
  RELEASE.md
Due: none

feat(sampling): add 26 advanced sampling parameters
  context_pool.go
  generate_internal.go
  llama_hipblas.go
  llama_metal.go
  llama_opencl.go
  llama_rpc.go
  llama_sycl.go
  llama_vulkan.go
  model.go
  options_generate.go
  wrapper.cpp
  wrapper.h
Due: gofmt, goimports, golangci-lint, go-test

chore(docker): override NVIDIA entrypoint to suppress banner
  Dockerfile.cuda
Due: none

feat(api): add channel-based generation and native chat support
  Makefile
  RELEASE.md
  channel_test.go
  chat.go
  chat_options.go
  chat_test.go
  chat_tools.go
  chat_types.go
  context_pool.go
  examples/chat-streaming/main.go
  examples/chat/main.go
  examples/simple/main.go
  examples/streaming/main.go
  generate_channel.go
  go.mod
  go.sum
  internal/exampleui/chat.go
  internal/exampleui/colour.go
  internal/exampleui/stats.go
  internal/exampleui/terminal.go
  llama_cublas.go
  model.go
  options_model.go
  stats.go
  wrapper.cpp
  wrapper.h
Due: gofmt, goimports, go-mod-tidy, golangci-lint, go-test

docs(readme): consolidate API reference and improve documentation structure
  README.md
  docs/api-guide.md
  examples/README.md
Due: none

feat(deps): update llama.cpp to b6724
  channel_test.go
  chat_test.go
  gpu_layers_test.go
  model.go
  prefix_caching_test.go
  stats.go
  streaming_test.go
  thread_safety_test.go
Due: gofmt, goimports, golangci-lint, go-test

feat(embeddings): add batch processing with multi-sequence support
  .forgejo/workflows/ci.yml
  channel_test.go
  chat_test.go
  context_pool.go
  embeddings_test.go
  error_handling_test.go
  generation_test.go
  gpu_layers_test.go
  model.go
  model_loading_test.go
  prefix_caching_test.go
  speculative_test.go
  streaming_test.go
  thread_config_test.go
  thread_safety_test.go
  tokenisation_test.go
  util.go
  wrapper.cpp
  wrapper.h
Due: gofmt, goimports, golangci-lint, go-test

feat(deps): update llama.cpp to b6780
  error_handling_test.go
Due: gofmt, goimports, golangci-lint, go-test

docs(release): clarify tag annotation format
  RELEASE.md
Due: none

feat(embeddings): add WithParallel option for tuning batch VRAM usage
  model.go
  model_loading_test.go
  options_model.go
Due: gofmt, goimports, golangci-lint, go-test
